* {
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: rgba(79, 79, 79, 0.7);
    background-color: rgb(252, 252, 252);
    letter-spacing: 1.1px;
    /* margin-left: 40px;
    margin-right: 40px; */
}

header {
    margin: 40px 0 25px 170px;
}

h1 {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 400;
}

h1, 
h2 {
    color: rgba(36, 36, 36, 0.7);
}

h2 {
    font-size: 1em;
}

p {
    font-size: .7em;
    font-weight: 300;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 25px;
    justify-content: center;
    
}

.card {
    display: flex;
    flex-basis: auto;
    background-color: white;
    align-items: center;
    border: 2px solid rgba(201, 76, 76, 0.3);
    border-radius: 5px;
    width: 350px;
    height: 145px;
}

.avatar {
    border-radius: 50%;
    height: 100px;
    margin: 15px;
}

.text-container {
    margin-right: 15px;
}

.name, .email {
    margin-bottom: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 380px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    background: white;
    border-radius: 5px;
}

.modal-close {
    width: 40px;
    font-size: 1.2em;
    display: flex;
    margin: 2px 20px 0 auto;
    background-color: transparent; 
    border: none;
    cursor: pointer;
} 

.modal-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.modal .avatar {
    height: 140px;
}

.modal .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.modal .text-container p {
    margin-top: 13px;
}

hr {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin: 25px 0 20px 0;
    color: rgba(79, 79, 79, 0.7);
}

.hidden {
    display: none;
}